.percentage {
  grid-area: percentage;
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--lc-text);
}

.circle {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(#ffa500 0% 85%,
      #ddd 85% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.percent {
  font-size: 1.8rem;
  font-weight: 700;
}

.used {
  position: absolute;
  bottom: 2.8rem;
  font-size: 0.9rem;
  color: #888;
}

.caption {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #888;
}