.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--lc-main);
}

.icon {
  height: 10.8rem;
  width: 100%;
  padding-right: 3.4rem;
  display: flex;
  justify-content: center;
  padding-top: 3.6rem;
}

.nav {
  height: 29.9rem;
}

.nav>ul {
  height: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  height: 36.1rem;
  border-top: 0.1rem solid #464C61;
  justify-content: end;
  align-items: center;
  padding-bottom: 2.7rem;
}